# Archivos de clase compilados
*.class

# Directorios de compilación
/build/
/dist/
/out/
/target/

# Archivos de logs
*.log

# Configuración privada de NetBeans
nbproject/private/

# Configuración pública de NetBeans
nbproject/

# Archivos de configuración de Eclipse
.classpath
.project
.settings/

# Archivos de configuración de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de respaldo
*.bak
*~
